<div class="board"
     style="grid-template-columns: repeat({{boardHeight}}, 1fr); grid-template-rows: repeat({{boardHeight}}, 1fr)"
>
    {{#each tiles}}
        {{>game.tile this}}
    {{/each}}
</div>
