<div class="playerlist">
    <div class="playerlist__player">
        <div class="playerlist__disc {{#if whitesTurn}}playerlist__disc--active{{/if}}">
            {{>game.disc black=false}}
        </div>
        <div>
            {{#if whitesTurn}}<b>{{/if}}
            {{whiteName}}
            {{#if playerIsWhite}} (you){{/if}}
            {{#if whitesTurn}}</b>{{/if}}
        </div>
    </div>
    <div class="playerlist__player">
        <div class="playerlist__disc {{#unless whitesTurn}}playerlist__disc--active{{/unless}}">
            {{>game.disc black=true}}
        </div>
        <div>
            {{#unless whitesTurn}}<b>{{/unless}}
            {{blackName}}
            {{#unless playerIsWhite}} (you){{/unless}}
            {{#unless whitesTurn}}</b>{{/unless}}
        </div>
    </div>
</div>
