.board {
  // always square but never too big
  width: 100%;
  height: 100%;
  //max-width: calc(100vh - 159px);
  //max-height: calc(100vh - 159px); // minus height of navbar

  // border
  border: 12px solid #6D5720;
  border-radius: 12px;

  // grid has the tendency to leave 1px gaps
  // because of rounding errors when you resize the browser.
  // So to fill them up we use a background-color of the grass colour
  background-color: #82bb46;

  // grid stuff
  display: grid;
  // these two are added through javascript instead
  // so the number is variable with the board size:
  //grid-template-columns: repeat(5, 1fr);
  //grid-template-rows: repeat(5, 1fr);

  &__container {
    width: calc(100vw - 3rem);
    height: calc(100vw - 3rem);
  }

  &__tile {
    background-image: url("https://i2.lensdump.com/i/IqEYDP.png");
    background-size: 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    $colours: light, medium, dark;
    @each $colour in $colours {
      @for $i from 1 through 3 {
        &--#{$colour}#{$i} {
          background-image: url("/images/grass/#{$colour}#{$i}.jpg");
        }
      }
    }
  }

  &__disc {
    padding: 2px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(25, 25, 25, 0.5);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: white;
    background: repeating-radial-gradient(
      circle at 50% 50%,
      #eee, #ccc 6px
    );
    &--black {
      background: black;
      background: repeating-radial-gradient(
        circle at 50% 50%,
        #151515,
        #000000 6px
      );
    }
  }
}
