.cat {
  &--container {
    // by being a background-image to a column next to the game board,
    // it will always match the size of the game board
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    // on mobile the cat image gets it's own row,
    // then it will match the following height instead:
    min-height: 400px;
  }

  &fact--container {
    background-color: rgba(0, 0, 0, 0.36);
    color: white;
    padding: 8px 16px;
    width: 100%;
    // centre
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}