.feedbackwidget {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  &--invisible {
    opacity: 0;
  }
  &--hidden {
    display: none;
  }
  &--success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }
  &--error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }

  &__closebutton {
    float: right;
  }

  &__acceptbutton {
    margin-right: 6px;
  }

  &__text {
    // school made me do this
    @media (max-width: 576px) {
      font-size: 8px;
    }
  }
}