main {
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar {
  height: 129px;

  &-brand--image {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
  }
}

.halfofcontainer {
  float: left;
  max-width: 100vw;
  @media (min-width: 576px) {
    max-width: calc(270px - 1.1rem);
  }
  @media (min-width: 768px) {
    max-width: calc(360px - 1rem);
  }
  @media (min-width: 992px) {
    max-width: calc(480px - 1rem);
  }
  @media (min-width: 1200px) {
    max-width: calc(570px - 1rem);
  }
  @media (min-width: 1400px) {
    max-width: calc(660px - 6.6rem);
  }
}
/* can be used in combination with halfofcontainer to stay square */
.halfofcontainer--withheight {
  max-height: 100vw;
  @media (min-width: 576px) {
    max-height: calc(270px - 1.1rem);
  }
  @media (min-width: 768px) {
    max-height: calc(360px - 1rem);
  }
  @media (min-width: 992px) {
    max-height: calc(480px - 1rem);
  }
  @media (min-width: 1200px) {
    max-height: calc(570px - 1rem);
  }
  @media (min-width: 1400px) {
    max-height: calc(660px - 6.6rem);
  }
}
