.playerlist
{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__player {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__disc {
    width: 50px;
    height: 50px;
    margin-right: 1rem;

    &--active .board__disc {
      border: 3px solid #00e0f5;
    }
  }
}